
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    min-height: 100vh;
}

footer{
    background-color: #d4db00;
}

main{
    flex: 1;
}

/*  TITLE SECTION   */

#title-section{
    width: 280px;
    height: fit-content;
    margin: auto 0;
    color: black;
}


#title-section h2{
    font-size: 40px;
}

#title-section h3{
    font-size: 40px;
    color: #d4db00;
}

#title-section h4{
    font-size: 20px;
}

#line{
    height: 550px;
    border: 1px solid #F4F4F4;
}


/*  CALCULATOR SECTION   */
#calculator-section{
    max-width: 540px;
    height: 742px;
}

/* Seccion de cantidad*/

/*Eliminar el spiner del input type button*/
input[type="number"] {
    -moz-appearance: textfield;  /* Firefox */ 
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#input-cantidad{
    height: 60px;
}

.inc{
    width: 27px;
    height: 27px;
    font-size: 16px;
    font-weight: 400;
    background-color: #F4F4F4;
    color: #545454;
    border: 1px solid #BEBEBE;
}

/*Seccion de selectores*/

#selector-container{
    background-color: #F4F4F4;
    border: 1px solid #BEBEBE;
}

select{
    color: #545454;
    width: 200px;
    /* Arrow */ 
    appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
    cursor: pointer;
}

#calculate{
    color: black;
    background-color: #d4db00;
    transition: all 0.2s ease-in-out;

    &:hover{
        scale: 1.1;
        background-color: #bdc300;
        cursor: pointer;
    }
}

#change{
    transition: all 0.3s ease-in-out;

    &:hover{
        transform: rotate(180deg);
        cursor: pointer;
    }
}


